{% extends "affairs/layout.html" %}
{% load static %}

{% block titlepage %} Courier List {% endblock %} 
{% block mainContent %} 
    <a href="create" class="btn btn-primary">Insert new courier</a>   
    {%for co in courier%}
        <div class="col-md-2">
            <div class="timeBox">
                <a href="update/{{co.courierId}}" class="btn btn-success">Update</a>
                <a href="delete/{{co.courierId}}" class="btn btn-danger" onclick="return warning()">Delete</a>                
                <p>Courier ID:{{co.courierId}}</p>
                <p>Courier Name:{{co.cName}}</p>
                <p>Capacity:{{co.capacity}}</p>
            </div>
        </div>
    {%endfor%}
{% endblock %}
    
