{% extends "affairs/layout.html" %}
{% block titlepage %} Transport List {% endblock %} 
{% block mainContent %}
    <a href="create" class="btn btn-primary">Insert new transport</a>
    {%for tr in transports%}
        <div class="col-md-2">
            <div class="timeBox">
                <a href="update/{{tr.id}}" class="btn btn-success">Update</a>
                <a href="delete/{{tr.id}}" class="btn btn-danger" onclick="return warning()">Delete</a>
                <p>Vehicle Number:{{tr.vehicleNo}}</p>
                <p>Departure Date:{{tr.departDate}}</p>
                <p>Arrival Date:{{tr.arrivalDate}}</p>    
                <p>Courier ID:{{tr.courierId}}</p>
                <p>Source:{{tr.source}}</p>
                <p>Destination:{{tr.destination}}</p>
                <p>Customer ID:{{tr.customerId}}</p>
            </div>            
        </div>
    {%endfor%}
{% endblock %}
    
