{% extends "affairs/layout.html" %}

{% block titlepage %}
  Change Password 
{% endblock %}

{% block mainContent %}

  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <br>
    <div>
    <table>
      <tr>
        <td>Old Password:</td><td>{{form.old_password}}</td>
      </tr>
      <tr>
        <td>New Password:</td><td>{{form.new_password1}}</td>
      </tr>
      <tr>
        <td>Confirm Password:</td><td>{{form.new_password2}}</td>
      </tr>    
    </table>
  </div><br>
    <div><button type="submit">Save changes</button></div>
    {% for field in form %}
      <p>{{ field.errors }}</p>
    {% endfor %}
    <ul style="color: red ;">
      <li> Your password can’t be too similar to your other personal information.</li>
      <li> Your password must contain at least 8 characters.</li>
      <li> Your password can’t be a commonly used password.</li>
      <li> Your password can’t be entirely numeric.</li>
    </ul>
    
  </form>

{% endblock %}