{% extends "affairs/layout.html" %}

{% block titlepage %}
  Profile Edit 
{% endblock %}

{% block mainContent %}

  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mainborder">
      <div class="row">
        <div class="col-md-10">
          <div>
            <p class="border"><span class="title">Name:</span>{{userEditForm.first_name}}</p>
            <p class="border"><span class="title">Surname:</span>{{userEditForm.last_name}}</p>
            <p class="border"><span class="title">Email:</span>{{userEditForm.email}}</p>
            <p class="border"><span class="title">Gender: </span> {{profileEditForm.Gender}}</p>
            <p class="border"><span class="title">Credit: </span>{{profileEditForm.Credit}}</p>
            
          </div>
        </div>
        <div class="col-md-2">
          <div class="imageBox">
            <img src="{{ ProfileImage.url }}" alt="profile image">
          </div>
          {{profileEditForm.ProfileImage}}
        </div>
      </div>
    </div>
    <div class="bottonborder">
      <a class="btn btn-primary" href="/accounts/changepassword">Change Password</a>
      <button type="submit" class="btn btn-success">Save</button>
    </div>

  </form>

{% endblock %}